@font-face{font-family:'jazeera';src: url('https://www.fontstatic.com/fonts/jazeera/jazeera.eot?#iefix');src: local('teeeest©'), local('jazeera'),url('https://www.fontstatic.com/fonts/jazeera/jazeera.woff') format('woff');}
@font-face{font-family:'jazeera-light';src: url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.eot?#iefix');src: local('11111'), local('jazeera-light'),url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff') format('woff');}

div#tlogins a.label.label-primary.fl {
    display: none;
}
div#tlogins .hand.nosel.fl.uzr.border {
    width: 76%!important;
	margin-top: 5px!important;
}

div#tlogins img.fl.u-ico {
    float: right;
    margin-right: -158px;
    margin-top: 5px;
    width: 30px;
    max-height: 30px;
}
div#tlogins img.fitimg.fl.u-pic {
    float: right;
    margin-right: -43px;
    border: 1px solid;
    border-radius: 3px;
}
div#tlogins .fl.mini.u-msg {
    display: none;
}
div#tlogins img.fr.co {
    display: none;
}
div#tlogins span.corner.u-topic.dots {
    margin-top: 8px!important;
    float: right;
    margin-right: -100px!important;
}
div#tlogins .hand.nosel.fl.uzr.border {
    width: 76%!important;
    margin-top: 5px!important;
    border-radius: 9px!important;
}
div#tlogins label.label.label-primary.mini.fl {
    width: 34%!important;
    margin-left: 5px;
    border-radius: 5px!important;
    background-color: #c0a47c!important;
	border: 1px solid black;
	font-family: 'jazeera-light',FontAwesome;
	color: #2d2d2d;
	padding: 0 5px;
}
div#tlogins .fr.borderg {
    background-color: #c0a47c!important;
    color: #2d2d2d;
    border-radius: 5px;
	border: 1px solid black;
	font-family: 'jazeera-light',FontAwesome;
	padding: 0 2px!important;
	width: 45%;
    text-align: center;
}
div#tlogins .fr.borderg a {
    color: #2d2d2d;
}
div#tlogins span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    background-color: white;
    color: #c0a47c;
    border-radius: 32px;
}
div#tlogins label.fl.label.loginstat.label-success {
    background-color: #c0a47c!important;
    border-radius: 5px!important;
    padding: 3px 4px 5px;
    border: 1px solid black;
    font-family: 'jazeera-light',FontAwesome;
    color: #2d2d2d;
    width: 17%;
    text-align: center;
}
div#tlogins {
    background-color: #ecdfbd;
	border-right: 3px solid #c0a47c;
    border-left: 3px solid #c0a47c;
    border-bottom: 3px solid #c0a47c;
    border-radius: 0 0 15px 15px;
}
div#tlogins ul.nav.nav-tabs li {
    width: 33.3%;
    background: #bfa579;
    border: 1px solid;
    margin-top: 1px;
    border-radius: 20px 20px 0 0;
}
div#tlogins ul.nav.nav-tabs li a {
    text-align: center;
    background-color: #2d2d2d;
    margin-top: 3px;
    border-radius: 15px 15px 0 0;
	width: 100%;
	color: white;
	font-family: 'jazeera',FontAwesome;
    padding: 6px 0px!important;
    font-size: 14px !important;
}
div#tlogins ul.nav.nav-tabs li.active a {
    background-color: #bfa579;
	color: white;
}
div#tlogins ul.nav.nav-tabs li.active {
    background: #2d2d2d;
}
div#tlogins div#l1  {
    border-top: 1px solid;
    margin-top: 2px;
    border-bottom: 1px solid;
    margin-bottom: 2px;
	padding: 18px 2px 0px !important;
	background-image: url(https://iqr30.com/sico/z1ckqkkuh610.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 64px;
}
div#tlogins div#l2 ,div#l3 {
    border-top: 1px solid;
    margin-top: 2px;
    border-bottom: 1px solid;
    margin-bottom: 2px;
	padding: 4px 2px 4px !important;
	background-image: url(https://iqr30.com/sico/z1ckqkkuh610.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 64px;
}
div#tlogins div#l1 br {
    display: none;
}
div#tlogins #w99w1 {
    font-family: 'jazeera-light',FontAwesome;
    margin-bottom: -3px;
    background-color: #2d2d2d;
    height: 28px;
    color: #ecdfbd;
    border-radius: 0;
    border-bottom: 2px solid #2d2d2d;
    border-top: 2px solid #2d2d2d;
    padding-bottom: 2px!important;
    text-shadow: 2px 0px 8px rgba(255,255,219) , 0px 2px 10px #fff !important;
    width: 100%;
}

div#tlogins #w99w2 {
    border-bottom: 27px solid #efe1ba;
    border-left: 27px solid transparent;
    height: 0;
    width: 98px;
    float: right;
    margin-top: -32px;
    position: relative;
}
div#tlogins #w99w3 {
    border-bottom: 27px solid #c0a47c;
    border-left: 27px solid transparent;
    height: 0;
    width: 90px;
    float: right;
    margin-top: -32px;
    position: relative;
}
div#tlogins #w99w4 {
    padding: 3px 0;
    text-align: right;
    margin-right: 2px;
	font-family: 'jazeera',FontAwesome;
}
div#tlogins .w99w5 {
    border-bottom: 29px solid #efe1ba;
    border-left: 27px solid transparent;
    height: 0px;
    width: 100%;
	padding-right: 5px;
}
div#tlogins .a {
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    font-family: 'jazeera',FontAwesome;
    padding: 2px 10px 2px 10px;
    margin: 7px 10px 7px 10px;
    color: #d0046f;
}
div#tlogins .a2 {
    background-color: #efe1ba;
	border-radius: 15px 15px 15px 0px;
    font-family: 'jazeera',FontAwesome;
    padding: 1px 10px 7px 10px;
    margin: 7px 10px 7px 0px;
    color: #d0046f;
}
.a3 {
    z-index: 1001;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    font-family: 'jazeera',FontAwesome;
    padding: 2px 2px 2px 2px;
    margin: 0;
    color: #2d2d2d;
    position: absolute;
    margin-top: -20px;
    font-size: 14px!important;
    text-align: center;
    width: 383px;
    bottom: 3px;
}
div#tlogins .a4 {
    float: right;
    width: 100%;
    margin-bottom: -7px;
}
div#tlogins ul.nav.nav-tabs {
    background-color: #ffffff00!important;
}

div#tlogins .lonline.light.break {
    /*background-image: url(IMG_20180706_210852.jpg); */
    background-size: cover;
    background-color: #ecdfbd;
	outline: none!important;
}
div#tlogins input#u1 ,input#u2 ,input#u3 ,input#pass1 ,input#pass2{
    font-family: 'jazeera',FontAwesome;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #c0a47c;
    color: #ffffff;
    background-color: #2d2d2d;
    width: 54%;
	
}
div#tlogins div#l1 button.btn.btn-primary ,div#l2 button.btn.btn-primary,div#l3 button.btn.btn-primary{
    font-family: 'jazeera',FontAwesome;
    padding: 0px 5px 2px;
    margin-top: 0px;
    color: #ecdfbd;
}
div#tlogins div#l2 .checkbox {
    margin-top: -25px!important;
    position: fixed;
    margin-left: -46px!important;
}
div#tlogins div#l2 .checkbox label {
    font-family: 'jazeera',FontAwesome;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border: 71px none #ffffff;
  border-radius: 31px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f00;
}

::-webkit-scrollbar-thumb:active {
  background: #808;
}

::-webkit-scrollbar-track {
  background: #eee;
  border: 65px none #ffffff;
  border-radius: 34px;
}

::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-track:active {
  background: #aaa;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

img.fr.co {
    display: none;
}
div#asim13 {
  width:100%;
  top:183px;
  position:absolute;
  height:26px;
  padding:1px 0 0;
font-family: 'jazeera',FontAwesome;
}


label.label.tc.border.btn.label-info.fl {
    margin: 4px !important;
    margin-top: -260px !important;
    margin-right: 15px !important;
    margin-bottom: -64px !important;
    margin-left: 3px !important;
    background-color: #8a6d3b !important;
    background: linear-gradient( 
369deg
,#ffffff 0%,#ffffff 100%) !important;
    border-left: 3px #8a6d3b solid !important;
    border-right: 3px #8a6d3b solid !important;
    border-radius: 7px;
}
label.label.tc.border.pmsg.btn.label-info.fl {
  margin:4px !important;
  margin-top:0 !important;
  margin-right:0 !important;
  margin-bottom:0 !important;
  margin-left:3px !important;
  background-color:#1391a7 !important;
  background:linear-gradient( 369deg,#f8f8ff 0%,#f8f8ff 100%) !important;
  border:1px solid #e8e8e8 !important;
  color:#000 !important;
  border-radius:0%;
}

img.fitimg.fl.borderg.spic.corner.hand {
  width:50px !important;
  height:50px !important;
  margin:-78px !important;
  margin-top:-65px !important;
  margin-bottom:-42px !important;
  margin-left:97px !important;
  border-radius:25px 25px 25px 25px !important;
  border:1px solid #c3c3c3 !important;
}

div.borderg.corner {
  margin-top:140px !important;
}

.fl.borderg.corner.uzr {
  margin-top:1px !important;
}

input.stopic.corner.dots,
input.smsg.corner.dots {
  padding:2px;
  border-right:5px groove rgb(126 130 129);
  border-left:5px groove rgb(208 214 213);
  border-top-color:rgb(202 198 198);
  border-bottom-color:rgb(126 130 129);
  min-height:28px !important;
  text-align:center;
  border-style:inset;
  width:99% !important;
  border-radius:10px !important;
}

label.label.tc.border.redit.btn.label-info.fl {
  margin:4px !important;
  margin-top:3px !important;
  margin-right:0 !important;
  margin-bottom:0 !important;
  margin-left:3px !important;
  background-color:#f8f8ff !important;
  background:linear-gradient( 369deg,#f8f8ff 0%,#ffffff 100%) !important;
  border-color:#e8e8e8 !important;
  color:#000 !important;
  border-radius:0;
  border-left:1px #e8e8e8 solid !important;
  border-right:1px #e8e8e8 solid !important;
}

a.label.label-primary.fr {
    height: 100%;
    width: 100%;
    background-color: #8a6d3b !important;
    border: 1px solid rgb(189 154 154/0%);
}
.tbox {
    padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}
.ae, button.btn {
    border-radius: 3px;
    border: #e8e8e8 solid 1px;
}
.border {
    border: #e8e8e8 solid 1px;
}
.fl.fa.fa-sign-in.btn.btn-primary.dots.roomh.border.corner {
    background-color: #c31e1e!important;
    padding: 1px 4px!important;
    pointer-events: none;
}
input[type=jfa-w] {
  font-size:15px !important;
  width:100%;
  text-align:center;
  color:#885867;
  border-radius:14%;
  margin-bottom:6px;
  margin-top:1px;
  margin-left:3px;
}
a.btn.minix.fa.fa-times.fr, a.btn.minix.fa.fa-thumbs-up.fr, a.btn.minix.fa.fa-comment.fr {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    border-radius: 3px;
}
button.border.btn.label.label-success.fl.fa.fa-plus {
    color: #ffffff !important;
    font-family: jazeera, FontAwesome;
    width: 100%;
    border-radius: 0px;
    border: 1px solid rgb(255 255 255);
    content: " انشاء غرفة";
    text-align: center!important;
}
a.btn.minix.btn-primary.fa.fa-heart.fr {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    border-radius: 3px;
}
a.btn.minix.btn-primary.fa.fa-heart.fr {
    color: #fff!important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    border-color: #b92c28;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    margin-left: 3px;
}
a.btn.minix.fa.fa-times.fr, a.btn.minix.fa.fa-thumbs-up.fr, a.btn.minix.fa.fa-comment.fr {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    border-radius: 3px;
}
a.btn.minix.btn-primary.fa.fa-comment.fr {
    color: #fff!important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    border-color: #c0a47c;
    background-image: linear-gradient(to bottom,#c0a47c 0,#c0a47c 100%);
}
.fl.mini.fa.fa-bullhorn.btn.btnn-default {
    font-size: 14px!important;
    width: 100%;
    background-color: #8a6d3b!important;
    color: #fff;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 3px;
    margin-top: 1px;
    height: 25px;
    padding: 5px 0;
 margin-left: 1px;
	}
.border {
    border: 1px solid #e8e8e8;
    border-color: #e8e8e8 !important;
}
.label-primary, .btn-primary, .bg-primary, .label-primary:hover, .btn-primary:hover, .btn-primary:focus, .label-primary, .btn-primary {
    border: 1px solid #fff;
}
span.busers.minix.badge.border {
    display: -webkit-inline-box;
    background-color: #ffffff00;
}

span.border {
    border: none;
}
.ae.fa.chats.label.fa-comment.label-warning.fa-comment:before, .ae.fa.chats.label.fa-comment.label-primary.fa-comment:before {
    content: "الخاص";
}
h3.popover-title, .fa-cog:before, .fa-commenting-o:before, .fa-group:before, .fa-users:before, span.border, .fl.fa.fa-comment.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.upm.borderg.fa-comment:before, .fa-envelope-o:before, .fa-diamond:before, .fa-search:before, .fa-ban:before, .fa-ban:before, .fa-user-times:before {
    display: none;
}
.border {
    /* border-color: #000 !important; */
}

.border {
    /* border: 1px solid black; */
}
.uzr.fl.corner.borderg.hmsg.mm {
    background-color: #8a6d3b61 !important;
}

.uzr.fl.corner.borderg.mm {
    border-left: 2px solid #8a6d3b ;
    margin-left: 0!important;
    border-radius: 0!important;
    width: 100%!important;
    border-top: .7px solid #eee!important;
    border-bottom: .7px solid #eee!important;
    margin-bottom: 0!important;
    line-height: 26px;
}
.border {
    border: 1px solid #e8e8e8;
    border-color: #e8e8e8 !important;
}


